.bg-violet{
    background-color: hsl(260, 100%, 54%);

}

.bg-circle{
    background-color: hsl(260, 100%, 50%);

}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered-relative {
    margin: 0 auto;
  }
.absoluto{
    transform: translate(0%, 50%);
}
  .medio {
    left: 50%;
  }

.border-circulo{
    border-radius: 10px;
}

.border-circulo-derecha{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.circulo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.simple-linear {
    background: linear-gradient(rgb(107, 73, 232) , rgb(50, 50, 255));
  }
.simple-linear2 {
    background: linear-gradient(rgb(43, 32, 207),rgb(82, 43, 223));
  }

.transparente{
    color:hsla(0, 0%, 100%, 0.583)
}

.espacio{

    margin-top: 20px;
    margin-bottom: 20px;
}
  