body {
  background-color: lightgrey;
}

@font-face {
  font-family: Hanken;
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@media (max-width:799px){
  .attribution{
    text-align: center;
    margin-top: 2%;
   }
  .texto{
    font-size: 18px;
    color: hsla(0, 0%, 93%, 0.629);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.centered{
  display: flex;
  justify-content: center;
}
.circulo{
  border-radius: 50%;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultado{
  font-size: 40px;
  font-weight: bolder;
  
}
.cien{
  margin-top: -5%;
  font-size: medium;
  font-weight: bolder;
}
.cards {
  position: sticky;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0);
  text-align: center;
  margin: -2%;
}

.blanco{
  color: hsla(0, 0%, 100%, 0.529);
}

.card {
  font-family: Hanken;
  flex: 0 1 100%;
  border-radius: 0 0 10px 10px;
  margin-top: -2%;
  background-color: white;
  z-index: 1;
}
.card-purple {
  font-family: Hanken;
  color: white;
  flex: 0 1 100%;
  border-radius: 0 0 20px 20px;
  z-index: 2;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.cols{
  display: flex;
  flex-flow: column wrap;
}
.col{
  flex: 0 1 70%;
  text-align: left;
  align-items: center;
}
.fin{
  margin-left: auto;
  margin-right: 5%;
  display: inline;
}
.row{
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  font-size: large;
}
.reaction-color{
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.087);
}
.memory-color{
  color: hsl(39, 100%, 56%);
  background-color: rgba(255, 177, 31, 0.155);
}
.verbal-color{
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.094);
}
.visual-color{
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.127);
}
.boton{
  background-color: hsl(224, 30%, 27%);
  color: white;
  margin: 2%;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  font-size: larger;
  border: 0;
}
.boton:hover{
  background-color: hsla(256, 72%, 46%, 1);
}
.bolder{
  font-weight: bolder;
  color: black;
}
.mute{
  color: lightslategrey
}
.principio{
  text-align: left;
  margin-left: 10%;
}
.imagen{
  margin: 3%;
}
}

@media (min-width:800px){
  .attribution{
    text-align: center;
   }
  .texto{
      font-size: 18px;
      color: hsla(0, 0%, 93%, 0.629);
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 15%;
  }
  .centered{
    display: flex;
    justify-content: center;
  }
  .circulo{
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resultado{
    font-size: 80px;
    font-weight: bolder;
    
  }
  .cien{
    margin-top: -5%;
    font-size: medium;
    font-weight: bolder;
  }
  .cards {
    position: sticky;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0);
    text-align: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .blanco{
    color: hsla(0, 0%, 100%, 0.529);
  }

  .card {
    font-family: Hanken;
    flex: 0 1 30%;
    border-radius: 0 10px 10px 0;
    background-color: white;
    z-index: 1;
  }
  .card-purple {
    font-family: Hanken;
    color: white;
    flex: 0 1 30%;
    border-radius: 10px;
    margin-right: -1%;
    z-index: 2;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
  .cols{
    display: flex;
    flex-flow: column wrap;
  }
  .col{
    flex: 0 1 70%;
    text-align: left;
    align-items: center;
  }
  .fin{
    margin-left: auto;
    margin-right: 5%;
    display: inline;
  }
  .row{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    font-size: large;
  }
  .reaction-color{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.087);
  }
  .memory-color{
    color: hsl(39, 100%, 56%);
    background-color: rgba(255, 177, 31, 0.155);
  }
  .verbal-color{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.094);
  }
  .visual-color{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.127);
  }
  .boton{
    background-color: hsl(224, 30%, 27%);
    color: white;
    margin-top: 7%;
    margin-bottom: 3%;
    height: 50px;
    width: 70%;
    border-radius: 25px;
    font-size: larger;
    border: 0;
  }
  .boton:hover{
    background-color: hsla(256, 72%, 46%, 1);
  }
  .bolder{
    font-weight: bolder;
    color: black;
  }
  .mute{
    color: lightslategrey
  }
  .principio{
    text-align: left;
    margin-left: 10%;
  }
  .imagen{
    margin: 3%;
  }
}